<?xml version="1.0" encoding="utf-8"?>

<odoo>

   <menuitem id="menu_riskmanagement_framework"
     name="Riskmanagement"
     sequence="10"
   />
   <menuitem id="menu_riskmanagement_records"
     name="Riskmanagement Records"
     parent="menu_riskmanagement_framework"
     sequence="10"
   />


</odoo>